/* css styles */

/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&family=Neuton:wght@400;700&display=swap');

/* 2. Apply Barlow to body */
body, p, li, div {
  font-family: 'Barlow', sans-serif !important;
}

/* 3. Apply Neuton to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Neuton', serif !important; 
}

h1 {
  color: #03b594; /* Set the color of first-level headers (h1) to #3b66bc */
}

h2 {
  color: #3b66bc; /* Set the color of first-level headers (h1) to #3b66bc */
}

a:hover {
    color: #03b594 
}

.navbar {
        border-bottom: 3px solid; /* Sets the thickness of the bottom border */
    border-image: linear-gradient(to left, #3b66bc, #03b594) 1;
}

.sidebar {
    border-right: 3px solid #e4e2d9; /* Right border with the specified color */
    font-weight: bold;
}

.navbar a {
    font-weight: bold;
}

.footer {
    font-weight: bold; /* Make text bold */
    color: white; /* Set text color to white */
}

::selection {
    background:#03b594 ; /* This sets the background color of the highlighted text */
    color: white; /* This sets the text color within the highlight */
}

.parallax-container {
  position: relative;
}

.parallax-image-container {
  height: 400px;
  background-attachment: fixed;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax image data vis */
.parallax-image-container.datavis {
  background-image: url(images/data_vis_guide_image.png);
}

/* Parallax image coding */
.parallax-image-container.coding {
  background-image: url(images/coding_guidance_image.png);
}
